
:root{
  --textColor: #262626;
  --borderColor: #d1d0d0;
  --borderSelected: #727272;
  --radiusBorderMain: #e2e1e1;
  --radiusBorderLight: #f3f2f2;
  --background: #fafafa;
}

body,figure {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: auto;
	font-family: Helvetica, Arial, sans-serif;
	color: var(--textColor);
	background-color: var(--background);
	height: 100%;
}

.background {
	background-color: var(--background);
	height: 100%;
}

.container	{
	width: 100%;
	max-width: 935px;
	margin: 0 auto;
}

.container--header {
	border-bottom: 1px solid var(--borderColor);
	max-width: 100vw;
	margin: 0;
}

.header {
	text-align: center;
	outline: 0;
}

.header__image {
	padding: 8px 50px;
}

.main {
	margin: auto;
	padding-bottom: 40px;
	width: 100%;
	max-width: 935px;
}

.profile {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	
}

.photo__image {
	border-radius: 50%;
	border: 10px double	var(--radiusBorderMain);
}

.profile__info {
	text-align: center;
	margin-top: 10px;
}

.profile__name {
	font-size: 1.75em;
	font-weight: lighter;
	margin: 15px 0px;
}

.profile__name--bold {
	font-weight: bold;
	margin: 30px 0px 0px 0px;
	font-size: 1rem;
}

.profile__data {
	display: flex;
	justify-content: center;
}

.profile__count{
	padding: 0 10px;;
	margin: 0;
}

.profile__count--number {
	font-weight: bold;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding: 0 20px;
}

.list__item {
	padding:5px;
}

.list__item--spacing {
	padding: 10px 10px 10px 0px;
}

.list__link {
	text-decoration: none;
	font-weight: bold;
	color: #02387a;
}

.list__text {
	margin: 5px 0px;
	max-width: 600px;
}

.list--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.list__copy {
	margin: 0;
}

.highlight {
	max-width: 100vw;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	padding: 0;
}

.highlight__item{
	text-align: center;
	font-weight: bold;
	font-size: 0.75rem;
	padding: 0px 10px;
}

.highlight__image {
	width: 45px;
	border-radius: 77px;
	margin-bottom: 10px;
	border: 8px double	var(--radiusBorderLight);
}

.nav {
	margin-top: 30px;
	padding: 20px ;
	text-align: center;
	border-top: 1px solid var(--borderColor);
	max-width: 100vw;
}

.nav__item {
	padding: 20px 15px 0 15px;
	font-weight: bold;
	font-size: 0.75rem;
	text-decoration: none;
	color: #bdbbbb;
	text-transform: uppercase;
}

.nav__item--selected {
	color: var(--textColor);
	border-top: 2px solid var(--borderSelected);
	padding-top: 21px;
}

.nav__icon {
	font-size: 0.6rem;
	padding-right: 2px;
}

.post {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
	align-content: center;
	max-width: 626px;
	margin: auto;
}

.post__box {
	width: 293px;
	height: 293px;
	margin: 10px 5px 10px 12px;
	box-sizing: content-box;
}

.post__image {
	max-width: 100%;
}

.footer__box {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	border-top: 1px solid var(--borderColor);
	background-color: var(--background);
}

@media screen and (min-width: 640px) {

	.post {
		justify-content: flex-start;
		flex-direction: row;
	}
	.list {
		padding: 0;
	}

	.header {
		text-align: left;
	}
	
	.profile__count {
		padding: 0px 10px 0px 0px;
	}

	.highlight__item {
		padding: 0px 30px;
	}

	.highlight__image {
		width: 80px;
		border-radius: 77px;
	}
	
}

@media screen and (min-width:980px) {
	
	.profile {
		flex-direction: row;
		justify-content: space-around;
	}
	
	.profile__data {
		justify-content: flex-start;
	}

	.profile__info {
		text-align: left;
		max-width: 600px;
	}

	.post {
		min-width: 100%;
	}

}





